@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-size: 16px;
  line-height: 1.8em;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

article {
  padding:0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/laptop.jpg');
  background-position: center;
}

header section {
  margin: 0 auto;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

header img {
border-radius: 50%;
height: 150px;
width: 110px;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

header section {
  max-width: 650px;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
